<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="container">
        <form action="/submit" method="post" class="form">
            <h1>Formulario</h1>
            <label for="url">URL de la imagen:</label>
            <input type="text" id="url" name="url" placeholder="Ingrese la URL de la imagen" required>
            <button type="submit">Procesar Imagen</button>
        </form>
    </div>
</body>
</html>